@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

$color-primary: #0070a0;
$color-secondary: #00638d;

body {
  padding: 0px 150px;
  font-family: "Inter", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  font-family: "Fraunces", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0;
}