@import '../media';

@mixin button($background-color, $color) {
    background-color: $background-color;
    color: $color;
    border: 0;
    cursor: pointer;
    font-size: 17px;
    line-height: 27px;
    padding: 8px 32px;
}

.button {
    &--link {
        @include button(transparent, $color-primary);
    }
    
    &--link:hover {
        text-decoration: underline;
    }
    
    &--link-hero {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &--link-usage {
        @include button(transparent, white);
    }

    &--primary {
        @include button($color-primary, white)
    }
    
    &--primary:hover {
        background-color: $color-secondary;
    }

    &--small {
        font-size: 15px;
        line-height: 24px;
        padding: 6px 20px;
    }

    &--no-hover:hover {
        background-color: transparent;
    }

    &__header {
        @include mobile {
            display: none;
        }
    }
}