.header {
  display: flex;
  align-items: center;
  font-size: 15px;

  &__logo {
    margin-right: 25px;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    margin-right: 25px;
    opacity: 0.6;
  }

  &__nav-item:hover {
    opacity: 0.8;
  }

  &__auth {
    margin-left: auto;
  }
}
