.header {
  display: flex;
  align-items: center;
  font-size: 15px;

  &__logo-link {
    display: flex;
    margin-right: 25px;
    align-items: center;
  }

  &__logo-img {
    margin-right: 5px;
  }

  &__logo-text {
    font-size: 28px;
    font-weight: 600;
    opacity: 0.8;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    margin-right: 25px;
    opacity: 0.6;
  }

  &__nav-item:hover {
    opacity: 0.8;
  }

  &__auth {
    margin-left: auto;
  }
}
