.usage {
  background-color: #006b99;
  padding: 80px 320px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    padding: 60px 100px;
  }

  @include tablet {
    padding: 30px 50px;
  }

  @include mobile {
    text-align: center;
  }

  &__title {
    text-wrap-mode: nowrap;
  }

  &__subtitle {
    text-wrap-mode: nowrap;
  }

  &__img {
    margin-right: auto;
    padding-right: 150px;

    @include tablet {
      padding-right: 40px;
    }

    @include mobile {
        margin-right: 0;
        padding-right: 0;
    }
  }

  &__img img {
    @include tablet {
      width: 300px;
    }

    @include mobile {
        display: none;
    }
  }

  &__list {
    padding: 0;
  }

  &__list-item {
    margin-bottom: 12px;
  }

  &__list-item img {
    margin-right: 6px;
  }
}
